* {
    background-color: darkgrey;
}

.heading {
    text-align: center;
    color: #AC87C5;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 30px;
}

.pixel-div {
    background-color: white;
    /* TODO : delete once done with all functionalities */
    box-shadow: inset 0 0 0 1px rgba(0, 255, 0, 0.5);}

#canvas {
    width: 448px;
    height: 448px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

