* {
    background-color: darkgrey;
}

.heading {
    text-align: center;
    color: cadetblue;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 30px;
}

.grid-div {
    background-color: white;
}

#canvas {
    width: 256px;
    height: 256px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

